.theme-light {
  .top-charts {
    height:50px;
    display: flex;
    align-items: center;
  }
  /deep/ .el-table__fixed:before {
    height: 0;
  }
 .alarm-total {
   width:180px;
   height:50px;
   color:#FFF;
   font-size:18px;
   line-height:50px;
   text-align:center;
   border-radius:5px;
   display: flex;
   justify-content: space-evenly;
   align-self: center;
   background: url("~@/assets/img/alarmNumBg.png") no-repeat #5FADFF 10% center/35px; 
   .alarm-total-number {
     font-size: 24px;
   }
 }
 
 .level-chart {
   width: 150px;
   height: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   .level-progress {
     width: 45px;
     height: 30px;
   }
   .level-text {
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     .text-number {
       font-size: 14px;
       font-weight: 700;
     }
     .text-name {
       font-size: 16px;
     }
   }
 }
 .btn-img {
   width:12px;
   height:13px;
 }
 .box-card {
   margin-top: 15px;
   .box-header {
     padding: 10px 0 10px 0;
     margin-left: 0;
     background-color: #eee;
     font-size: 16px;
     span {
       margin-left: 5px;
     }
   }
 }
}